<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button menu="menu-content"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Registrar Trabajador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="contenedor-form animated fadeIn fast">

    <form class="form-reg" [formGroup]="regTrabForm" (submit)="registrarTrabajador($event)">
      <ion-title class="ion-margin-vertical"><b>Datos del Tabajador</b></ion-title>
      <ion-item>
        <ion-label position="floating" color="primary">N° Documento<ion-text color="danger">*</ion-text>:
        </ion-label>
        <ion-input class="ion-text-center" type="tel" formControlName="nDocument" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" color="primary">Nombre: <ion-text color="danger">*</ion-text>:
        </ion-label>
        <ion-input class="ion-text-center" formControlName="name" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" color="primary">Apellido <ion-text color="danger">*</ion-text>:
        </ion-label>
        <ion-input class="ion-text-center" formControlName="lastname" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary">Chofer :</ion-label>
        <ion-toggle mode="ios" (ionChange)="statusChofer($event)"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label color="primary">Fecha Nacimiento: <ion-text color="danger">*</ion-text>:
        </ion-label>
        <ion-datetime display-format="DD MMMM YYYY" [monthNames]="customMonthValues" placeholder="Fecha de Nacimiento"
          [pickerOptions]="customPickerOptions" value="{{ fechaNacimiento }}">
        </ion-datetime>
      </ion-item>

      <ion-button class="ion-padding" expand="full" fill="outline" shape="round" type="submit"
        [disabled]="regTrabForm.invalid">
        REGISTRAR
      </ion-button>

    </form>

  </div>

</ion-content>