<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="list-trab">
      <ion-icon name="sunny"></ion-icon>
      <ion-label>Dias Trabajados</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="dias-trab">
      <ion-icon name="clipboard"></ion-icon>
      <ion-label>Lista Trabajadores</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="reg-trab">
      <ion-icon name="person-add"></ion-icon>
      <ion-label>Registrar Trabajador</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>